[Desktop Entry]
Name=Users
Name[af]=Gebruikers
Name[ar]=المستخدمين
Name[ca]=Usuaris
Name[da]=Brugere
Name[de]=Benutzer
Name[eo]=Uzantoj
Name[es]=Usuarios
Name[fr]=Utilisateurs
Name[fy]=Brûkers
Name[hu]=Felhasználók
Name[it]=Utenti
Name[la]=Usores
Name[lb]=Benotzer
Name[li]=Gebruikers
Name[nb]=Brukere
Name[nl]=Gebruikers
Name[pl]=Użytkownicy
Name[pt]=Usuários
Name[sk]=Používatelia
Name[zh_CN]=用户
Comment=Authentication and user accounts.
Comment[af]=Verifikasie en gebruikersrekeninge.
Comment[ar]=الاستيثاق وحسابات المستخدمين.
Comment[ca]=Autenticació i comptes d'usuari.
Comment[da]=Godkendelse og burgerkonti.
Comment[de]=Authentifizierung und Benutzerkonten.
Comment[eo]=Aŭtentigo kaj uzantkontoj.
Comment[es]=Autenticación y cuentas de usuario.
Comment[fr]=Authentification et comptes utilisateurs.
Comment[fy]=Autentikaasje en brûkersakkounts.
Comment[hu]=Hitelesítés és felhasználói fiókok.
Comment[it]=Autenticazione e account utente.
Comment[la]=Authenticatio et rationes usorum.
Comment[lb]=Authentifikatioun a Benotzerkonten.
Comment[li]=Authentificatie en gebruukersaccounts.
Comment[nb]=Autentisering og brukerkontoer.
Comment[nl]=Authenticatie en gebruikersaccounts.
Comment[pl]=Uwierzytelnianie i konta użytkowników.
Comment[pt]=Autenticação e contas de usuário.
Comment[sk]=Autentifikácia a používateľské účty.
Comment[zh_CN]=身份验证和用户账户
Type=Settings
Exec=cosmic-settings users
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-users
StartupNotify=true
