[Desktop Entry]
Name=Touchpad
Name[af]=Raakvlak
Name[ar]=لوحة اللمس 
Name[ca]=Panell tàctil
Name[es]=Panel táctil
Name[fr]=Pavé tactile
Name[zh_CN]=触摸板
Name[pl]=Gładzik
Name[hu]=Érintőpárna
Name[es]=Panel táctil
Comment=Touchpad speed, click options, gestures.
Comment[af]=Raakvlakspoed, klikopsies, swiepgebare.
Comment[ar]=سرعة لوحة اللمس، خيارات النقر، الإيماءات.
Comment[ca]=Velocitat del panell tàctil, opcions de clic, gestos.
Comment[da]=Touchpad-hastighed, klikmuligheder, bevægelser.
Comment[de]=Touchpad-Geschwindigkeit, Klickoptionen, Gesten.
Comment[es]=Velocidad del panel táctil, opciones de clic, gestos.
Comment[fr]=Vitesse du pavé tactile, options de clic, gestes.
Comment[fy]=Touchpadsnelheid, klikopsjes, gebearten.
Comment[hu]=Érintőpárna sebessége, kattintási beállítások, gesztusok.
Comment[it]=Velocità del touchpad, opzioni di clic, gesti.
Comment[lb]=Touchpad-Geschwindegkeet, Klickoptiounen, Gesten.
Comment[li]=Touchpadsnelheid, klikopties, gebare.
Comment[nl]=Touchpadsnelheid, klikopties, gebaren.
Comment[pl]=Prędkość gładzika, opcje kliknięć, gesty.
Comment[pt]=Velocidade do touchpad, opções de clique, gestos.
Comment[sk]=Rýchlosť touchpadu, možnosti kliknutia, gestá.
Comment[zh_CN]=触摸板速度、点击选项和手势
Type=Settings
Exec=cosmic-settings touchpad
Terminal=false
Categories=COSMIC
Keywords=COSMIC
NoDisplay=true
OnlyShowIn=COSMIC
Icon=preferences-touchpad
StartupNotify=true
